*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
    font-weight: lighter;
}

#body{
    background: #fbc3d3;
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(186, 90, 108, 0.4); 
    text-align: center;
}

#container_home{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
}

#a_logo{
    width: 10%;
}

a{
    text-decoration: none;
    color: inherit;
}

#logo{
    width: 100%;
}

nav{
    width: 50%;
    padding: 1rem;
    text-align: center;
    margin:0 0.5rem;
}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.li{
    list-style: none;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #ba5a6c;
}

.li:hover{
    background-color: white;
    color: #BB495E;
}

#productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-decoration: none;
    border-bottom:2px solid #5f1922 ;
} 

#productos > h1{
    text-align: center;
}

#productos_li{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}


.product{
    border-bottom: 2px solid #5f1922 ;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    padding: 1rem;
}

.product_name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-right: 1px solid black;
}

.product_h2{
    margin-top: 10px;
    justify-self: center;
    align-self: center;
    font-size: 2.2rem;
}

.product_img{
    justify-self: center;
    border-radius: 50px;
    border: 5px solid  #5f1922;
    width: 40%;
}

.container_measures{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    gap: 1rem;
}

.measures{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 1rem;
    border: 1px solid #ba5a6c;
    border-radius: 50px;
    margin: 1rem;
}

.measures_h3{
    font-size: 1.8rem;
    justify-self: center;
    align-self: center;
}

.measure_child{
    display: grid;
    justify-content: center;
    justify-items: center;
}

.measure_child_h3{
    font-size: 1.5rem;
    margin-top: 20px;
    justify-self: center;
    align-self: center;
}

.table{
    display: grid;
    margin: auto;
}

.td{
    padding: 10px;
}

.container_measures_2{
    display: grid;
}

#goUp{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

button{
    position: relative;
    height: 3rem ;
    width: 10%;
    background-color: transparent;
    border: none;
}

#botonUp{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
}

#boton:hover{
    color:#ba5a6c;
}

#container_contact{
    display: flex;
    flex-direction: column;
    min-height:5rem;
    gap: 1rem;
    padding: 1rem;
}

#container_contact > h2{
    text-align: center;
}

#container_info_contact{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}

.info_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

@media (max-width: 1490px){
    #container_info_contact{
        flex-direction: column;
        gap: 2rem;
        
    }
}

@media (max-width: 1245px){
    .product{
        display: flex;
        flex-direction: column;
    }

    .product_name{
        border: none;
    }

    .product_img{
        width: 50%;
    }
}

@media (max-width:500px ){
    header{
        flex-direction: column;
    }

    #container_home{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_measures{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
    }

    .product_img{
        width: 80%; 
    }    

    #container_info_contact{
        font-size: 1rem;
    }
}

@media (max-width:325px){
    #a_logo{
        display: none;
    }
    
    #nav_ul{
        display: flex;
        flex-direction: column;
    }

    .info_contact{
        flex-direction: column;
        text-align: center;
    }
}